# Standard connection via SQL

In [103]:
import pandas as pd
import psycopg2
from urllib.parse import urlparse

con_str = "localhost://psiz:psiz@psiz:5432"
p = urlparse(con_str)

pg_connection_dict = {
    'dbname': p.hostname,
    'user': p.username,
    'password': p.password,
    'port': p.port,
    'host': p.scheme
}

print(pg_connection_dict)
con = psycopg2.connect(**pg_connection_dict)
print(con)

{'dbname': 'psiz', 'user': 'psiz', 'password': 'psiz', 'port': 5432, 'host': 'localhost'}
<connection object at 0x7faaddd191c0; dsn: 'user=psiz password=xxx dbname=psiz host=localhost port=5432', closed: 0>

In [104]:
survey = pd.read_sql('''SELECT * FROM FSQ;''', con)

/home/user/.local/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [105]:
survey

,Id,assignment_id,fsq_01,fsq_02,fsq_03,fsq_04,fsq_05,fsq_06,fsq_07,fsq_08,fsq_09,fsq_10,fsq_11,fsq_12,fsq_13,fsq_14,fsq_15,fsq_16,fsq_17,fsq_18
0,1,11.0,5.0,6.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,12.0,5.0,6.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
5,8,12.0,5.0,6.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
6,9,13.0,5.0,6.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
7,10,13.0,5.0,6.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
8,11,14.0,5.0,6.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0
9,12,15.0,5.0,6.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0

# Connecting via SQLAlchemy

In [3]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, Session
import json
import os

CONFIG_PATH = "config.json" # is defined a second time in main.py

if os.environ.get("DATABASE_URL") == None:
    with open(CONFIG_PATH) as fp:
        config = json.load(fp)
    DATABASE_URL = config["DATABASE_URL"].replace("psiz-db", "localhost")
else:
    DATABASE_URL = os.environ.get("DATABASE_URL")
    DATABASE_URL = DATABASE_URL.replace("postgres:", "postgresql:")

engine = create_engine(
    DATABASE_URL,
)
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)

Base = declarative_base()

## Check if a table exists

In [4]:
from sqlalchemy import inspect

def table_exists(engine,name):
    ins = inspect(engine)
    ret = ins.dialect.has_table(engine.connect(),name)
    return ret

engine = create_engine(DATABASE_URL)


table_exists(engine, "assignment")

True

In [5]:

ins = inspect(engine)
schemas = ins.get_schema_names()

for schema in schemas:
    print("schema: %s" % schema)
    for table_name in ins.get_table_names(schema=schema):
        print(table_name)
        #for column in ins.get_columns(table_name, schema=schema):
        #    print("Column: %s" % column)

schema: information_schema
sql_parts
sql_implementation_info
sql_features
sql_sizing
schema: public
assignment
trial

# Load data from survey into database

In [101]:
post_data = {"assignment_id":15,"selection":{"1":"5","2":"6","3":"3","4":"3","5":"2","6":"2","7":"2","8":"2","9":"2","10":"2","11":"2","12":"2","13":"2","14":"2","15":"2","16":"2","17":"2","18":"3"}}

In [102]:
from sqlalchemy import MetaData, Table, Column, Integer

engine = create_engine(DATABASE_URL)
metadata = MetaData(engine)

project_id = "roast"

with open(f"api/projects/{project_id}.json") as fp:
    res = json.load(fp)
    with open("api/projects/surveys/" + res['surveys'][0] + ".json") as fp2:
        survey = json.load(fp2)

columns = list(survey["items"])
table_name = survey["prefix"]

# add leading 0s
n_chars = max([len(i) for i in columns])
columns = [table_name + "_" + i.zfill(n_chars) for i in columns]
columns = [Column(i, Integer) for i in columns]

selection = post_data['selection']
selection = {table_name+"_" + key.zfill(n_chars): int(val) for key, val in selection.items()}
new_survey_data = {"assignment_id": post_data['assignment_id'], **selection}

if not table_exists(engine, table_name): # table does not exist, so we will create it
    Table(table_name, metadata, Column("Id", Integer, primary_key=True, nullable=False), Column("assignment_id", Integer), *columns)
    print(metadata)
    metadata.create_all()    


con = psycopg2.connect(**pg_connection_dict)
cur = con.cursor()
sql_cols = str(tuple(new_survey_data.keys()))
sql_vals = str(tuple(new_survey_data.values()))
sql = f'INSERT INTO {table_name} {sql_cols} VALUES {sql_vals}'
sql = sql.replace("'", "")
cur.execute(sql)
con.commit()
cur.close()
con.close()